header {
  min-height: 20px;
  padding: 20px;

}

.logo {
  position: absolute;
  top: 10px;
  left: 20px;
  border-radius: 50%;
  margin: 0;
}

.main-menu ul {
  margin: 0;
  margin-left: 110px;
  padding: 0;

  list-style: none;
}

.main-menu li {
  display: inline-block;
  margin-right: 1em;
}
.about-hobby {
  min-height: 100px;
  margin: 0 20px;
  padding: 30px;
  font-size: 18px;

  background-color: rgba(86,245,107, 0.1);
  border-radius: 5px;
  box-shadow: 0 0 3px #cccccc;
}


.page-footer {
  min-height: 50px;
  padding: 20px;
  font-size: 14px;
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #aaaaaa;
  background-color: rgba(128, 128, 128, 0.1);
}

.page-footer .nvsu {
  color: #aaaaaa;
}

.page-footer .copyright {
  float: right;
  color: black;
  padding-top: 20px;
  font-size: 12px;
}